* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    background-color: #17313e;
}

.container {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff20;
}

.head-title {
    text-align: center;
    color: aliceblue;
}

.description {
    margin-top: 20px;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    color: rgba(240, 248, 255, 0.856);
    margin-bottom: 10px;
}

.screenshots {
    display: grid;
    align-items: center;
    justify-content: center;
}

.screenshots img {
    max-width: 100%;
    height: auto;
}

.aspect-div {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.aspect-mob {
    max-width: 100%;
    height: auto;
    aspect-ratio: 9/16;
}

.button {
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 20px;
    background: #1e40af;
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 25px;
    font-size: 0.9rem;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

@media (max-width: 768px) {
    .container {
        width: auto;
        margin: 5%;
        margin-top: 20px;
        padding: 20px;
    }

    .description {
        margin-top: 14px;
        font-size: 14px;
    }
}